body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgba(15, 15, 15, 0.863);
    margin-top: 1.5rem;
}

.calculatorWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    box-sizing: border-box;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    background-color: chocolate;
}

.displays{
    display: flex;
    flex-direction: row;

}


.display{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: end;
    align-items: center;
    padding-top: 10px;
    border-style: solid;
    box-sizing: border-box;
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-color: wheat;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.buttonsWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border-style: solid; */
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 280px;
    margin-top: 20px;
    gap: 6px;
    /* height: 50px; */
}

.numberWrapper{
    /* border-style: solid;
    border-color: white; */
    gap: 10px;
    width: 160px;
}

.operations{
    /* border-style: solid;
    border-color: white; */
    width: 50px;
}
.equalsWrapper{
flex-direction: column;
}

button{
    width: 50px;
    height: 50px;
    margin-top: 5px;
    background-color: gray;
}

#btnEquals{
    margin-top: -6px;
    width: 216px;
    background-color: cornflowerblue;
}

#btnZero{
    /* width: 158px; */
    width: 104px;
}

#btnPlus,
#btnSubstract,
#btnMultiply,
#btnDivide{
    background-color: greenyellow;
}